<o-side-nav-item
    :to="{ name: '{{ name | plural | kebab }}.index' }"
    label="{{ name | plural }}"
    section="{{ name | plural | kebab }}"
>
    <o-side-sub-nav-item
        :to="{ name: '{{ name | plural | kebab }}.index' }"
    >
        Manage {{ name | plural }}
    </o-side-sub-nav-item>

    <o-side-sub-nav-item
        :to="{ name: '{{ name | plural | kebab }}.create' }"
    >
        Add {{ name | singular }}
    </o-side-sub-nav-item>
</o-side-nav-item>

<!--OPTIMUS-CLI:navigation-->