// {{ name | plural }}
Route::prefix('{{ name | plural | kebab }}')->group(function () {
    Route::get('/', '{{ name | plural | pascal }}Controller@index');
    Route::post('/', '{{ name | plural | pascal }}Controller@store');
    Route::get('{id}', '{{ name | plural | pascal }}Controller@show');
    Route::patch('{id}', '{{ name | plural | pascal }}Controller@update');
    Route::delete('{id}', '{{ name | plural | pascal }}Controller@destroy');

    {% if has_feature('sort') %}
        Route::put('{id}/move', '{{ name | plural | pascal }}Controller@move');
    {% endif %}
});
    
/*--OPTIMUS-CLI:routes--*/