<?php

use Illuminate\Database\Migrations\Migration;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Support\Facades\Schema;

class Create{{ name | plural | pascal }}Table extends Migration
{
    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {
        Schema::create('{{ name | plural | snake }}', function (Blueprint $table) {
            $table->bigIncrements('id');
            {% for field in fields %}
                {% if field.type == 'text' %}
                    $table->string('{{ field.name }}')
                    {%- if field.nullable %}->nullable(){% endif %}
                    {%- if field.default %}->default(){% endif %};
                {% elif field.type == 'textarea' or field.type == 'editor' %}
                    $table->text('{{ field.name }}')
                    {%- if field.nullable %}->nullable(){% endif %}
                    {%- if field.default %}->default(){% endif %};
                {% elif field.type == 'date' %}
                    $table->timestamp('{{ field.name }}')
                    {%- if field.nullable %}->nullable(){% endif %}
                    {%- if field.default %}->default(){% endif %};
                {% endif %}
            {% endfor %}
            $table->timestamps();
        });
    }

    public function down()
    {
        Schema::dropIfExists('{{ name | plural | snake }}');
    }
}
