<?php

namespace App\Models;

use Illuminate\Database\Eloquent\Builder;
use Illuminate\Database\Eloquent\Model;
{% if has_feature('Draftable') %}
    use Optix\Draftable\Draftable;
{% endif -%}

{% if has_feature('HasSlug') %}
    use Spatie\Sluggable\HasSlug;
    use Spatie\Sluggable\SlugOptions;
{% endif -%}

{% if has_feature('HasMedia') %}
    use Optix\Media\HasMedia;
{% endif -%}

{% if has_feature('HasSeoFields') %}
    use App\Traits\HasSeoFields;
{% endif -%}

{% if has_feature('Linkable') %}
    use App\Contracts\Linkable;
    use App\Traits\LinkableTrait;
    use App\Contracts\SynchronisesMenuItemUrls;
{% endif -%}

{% if has_feature('Sortable') %}
    use Spatie\EloquentSortable\Sortable;
    use Spatie\EloquentSortable\SortableTrait;
{% endif %}

class {{ identifiers.pascal_singular }} extends Model implements
{% for feature in features %}
    {%- if feature.type == 'Linkable' -%}
        Linkable, SynchronisesMenuItemUrls{% if not loop.last %},{% endif -%}
    {%- endif -%}

    {%- if feature.type == 'Sortable' -%}
        Sortable{% if not loop.last %},{% endif -%}
    {%- endif -%}
{%- endfor %}

{
    use 
    {% for feature in features %}
        {%- if feature.type == 'Draftable' %}Draftable{%- endif -%}
        {%- if feature.type == 'HasSlug' %}HasSlug{%- endif -%}
        {%- if feature.type == 'HasMedia' %}HasMedia{%- endif -%}
        {%- if feature.type == 'HasSeoFields' %}HasSeoFields{%- endif -%}
        {%- if feature.type == 'Linkable' %}LinkableTrait{%- endif -%}
        {%- if feature.type == 'Sortable' %}SortableTrait{%- endif -%}
        {% if not loop.last %},{% endif %}
    {% endfor %};
    
    {% for feature in features %}
        {% if feature.type == 'Draftable' %}
            /**
            * The attributes that should be cast to native types.
            *
            * @var array
            */
            protected $casts = [
                'is_published' => 'bool',
            ];

            /**
            * The attributes that should be mutated to dates.
            *
            * @var array
            */
            protected $dates = [
                'published_at',
            ];
        {% endif %}

        {% if feature.type == 'HasSlug' %}
            /**
            * Get the model's slug options.
            *
            * @return SlugOptions
            */
            public function getSlugOptions(): SlugOptions
            {
                return SlugOptions::create()
                    ->generateSlugsFrom('{{ feature.options.generate_from }}')
                    ->saveSlugsTo('{{ feature.options.save_to }}');
            }

            /**
            * Find a {{ identifiers.label_singular }} with the given slug or fail.
            *
            * @param string $slug
            * @return mixed
            */
            public static function findBySlugOrFail($slug)
            {
                return self::query()
                    ->where('slug', $slug)
                    ->firstOrFail();
            }
        {% endif %}
        
        {% if feature.type == 'HasMedia' %}
            /**
            * Register the {{ identifiers.label_singular }} media groups.
            *
            * @return void
            */
            public function registerMediaGroups()
            {
                {% for group in feature.options.groups %}
                    $this->addMediaGroup('{{ group.name }}')
                        ->performConversions(
                            '{{ group.conversion }}'
                        );
                {% endfor %}
            }
        {% endif %}

        {% if feature.type == 'Linkable' %}
            /**
            * Returns the linkable type identifier for this model instance.
            *
            * @return string
            */
            public static function getLinkableTypeIdentifier(): string
            {
                return '{{ identifiers.kebab_plural }}';
            }

            /**
            * Returns the linkable type name for this model instance.
            *
            * @return string
            */
            public static function getLinkableTypeName(): string
            {
                return '{{ identifiers.label_plural }}';
            }

            /**
            * Returns the menu label for this model instance.
            *
            * @return string
            */
            public function getLabel(): string
            {
                return $this->{{ feature.options.label_field }};
            }

            /**
            * Builds the post URL for this model instance.
            *
            * @return string
            */
            public function getUrl(): string
            {
                return ''; //todo
            }

            /**
            * Determines if the URL for this instance has changed since the last save.
            *
            * @return bool
            */
            public function urlHasChanged(): bool
            {
                return $this->isDirty('{{ feature.options.url_field }}');
            }

            /**
            * Builds the query used to retrieve linkable {{ identifiers.label_plural }}.
            *
            * @return Builder
            */
            public static function buildLinkableQuery(): Builder
            {
                return self::query();
            }

            /**
            * Builds the search query used to find linkable {{ identifiers.label_singular }} items matching the provided query.
            *
            * @param string $input
            * @return Builder
            */
            public static function buildLinkableSearchQuery(string $input): Builder
            {
                return self::buildLinkableQuery()->where(
                    '{{ feature.options.search_query_field }}', 'like', '%'.$input.'%'
                );
            }
        {% endif %}

        {% if feature.type == 'Sortable' %}
            /**
            * The model's sortable options.
            *
            * @var array
            */
            protected $sortable = [
                'order_column_name' => 'order',
            ];
        {% endif %}
    {% endfor %}

    /**
     * Apply filters to the query.
     *
     * @param Builder $query
     * @param array $filters
     * @return void
     */
    public function scopeApplyFilters(Builder $query, array $filters)
    {
        {% if has_feature('Sortable') %}
            // Sort
            if ($sort = $filters['sort'] ?? false) {
                if (in_array($sort, [
                    'title', '-title', 'published_at', '-published_at',
                ])) {
                    $column = ltrim($sort, '-');
                    $direction = Str::startsWith($sort, '-') ? 'desc' : 'asc';

                    $query->orderBy($column, $direction);
                }
            }
        {% endif %}
    }
}
