<?php

namespace App\Http\Resources;

use Illuminate\Http\Request;
use Illuminate\Http\Resources\Json\JsonResource;

class {{ name | singular | pascal }}Resource extends JsonResource
{
    /**
     * Transform the resource into an array.
     *
     * @param Request $request
     * @return array
     */
    public function toArray($request)
    {
        return [
            'id' => $this->id,
            'updated_at' => (string) $this->updated_at,
            'created_at' => (string) $this->created_at,
            {% for field in fields %}
                {% if not field.type == 'media' %}
                    '{{ field.name }}' => $this->{{ field.name }},
                {% endif %}
            {% endfor -%}

            {% for feature in features %}
                {% if feature.type == 'slug' %}
                    '{{ feature.options.save_to_field }}' => $this->{{ feature.options.save_to_field }},
                {% endif %}

                {% if feature.type == 'draft' %}
                    'is_published' => $this->isPublished(),
                    '{{ feature.options.published_at_field }}' => $this->{{ feature.options.published_at_field }},
                {% endif %}
            {% endfor %}

            {% if has_feature('draft') %}
            {% endif -%}

            {% if has_feature('seo') %}
                'meta' => $this->whenLoaded('meta', function () {
                    return new MetaResource($this->meta);
                }),
            {% endif -%}

            {% if has_feature('media') %}
                $this->mergeWhen($this->resource->relationLoaded('media'), function () {
                    return [
                        {% for field in fields %}
                            {% if field.type == 'media' %}
                                '{{ field.name }}' => new MediaResource($this->getFirstMedia('{{ field.name }}')),
                            {% endif %}
                        {% endfor %}
                    ];
                }),
            {% endif %}
        ];
    }
}
