<template>
    <div class="field">
    {{#each fields}}
        {{#no-break}}
        <!-- {{identifiers.label}} -->
        <o-form-field
            input="{{identifiers.snake}}"
            label="{{identifiers.label}}"
            {{#if required}}required{{/if}}
        >
            {{#if-type-is "string"}}
            <o-input
                id="{{identifiers.snake}}"
                v-model="form.{{identifiers.snake}}"
                {{#if required}}required{{/if}}
            />
            {{/if-type-is}}
        
            {{#if-type-is "text"}}
            <editor
                id="{{identifiers.snake}}"
                v-model="form.{{identifiers.snake}}"
            />
            {{/if-type-is}}
        
            {{#if-type-is "url"}}
            <o-input
                id="{{identifiers.snake}}"
                v-model="form.{{identifiers.snake}}"
                type="url"
                {{#if required}}required{{/if}}
            />
            {{/if-type-is}}
        
            {{#if-type-is "image"}}
            <media-picker
                id="{{identifiers.snake}}_id"
                v-model="form.{{identifiers.snake}}_id"
                :media="getItemAttribute('{{identifiers.snake}}')"
                show-preview
            />
            
            <template slot="help">
                This image will be constrained to TODOpx width
            </template>
            {{/if-type-is}}
        </o-form-field>
        {{/no-break}}


    {{/each}}
    </div>
</template>

<script>
import templateMixin from '../../mixins/template';

export default {
    mixins: [ templateMixin ],

    data() {
        return {
            form: {
            {{#no-break}}
            {{#each fields}}
                {{#if-not-type-is "image"}}
                {{identifiers.snake}}: '',
                {{/if-not-type-is}}

                {{#if-type-is "image"}}
                {{identifiers.snake}}_id: null,
                {{/if-type-is}}
            {{/each}}
            {{/no-break}}

            },
        };
    },

    watch: {
        item: {
            handler(item) {
                if (! item) {
                    return;
                }

                this.form = {
                {{#no-break}}
                {{#each fields}}
                    {{#if-not-type-is "image"}}
                    {{identifiers.snake}}: item.{{identifiers.snake}},
                    {{/if-not-type-is}}

                    {{#if-type-is "image"}}
                    {{identifiers.snake}}_id: item.{{identifiers.snake}} ? item.{{identifiers.snake}}.id : null,
                    {{/if-type-is}}
                {{/each}}
                {{/no-break}}
                
                };
            },
            immediate: true,
        },
    },
};
</script>
