<template>
    <div class="field">
        {% for field in fields %}
            <!-- {{ field.label }} -->
            <o-form-field
                input="{{ field.name }}"
                label="{{ field.label }}"
                {%+ if field.rules.required %}required{% endif %}
            >
                {% if field.type == 'text' %}
                    <o-input
                        id="{{ field.name }}"
                        v-model="form.{{ field.name }}"
                        {%+ if field.rules.required %}required{% endif %}
                    />
                {% elif field.type == 'textarea' %}
                    <o-input
                        id="{{ field.name }}"
                        v-model="form.{{ field.name }}"
                        type="textarea"
                        {%+ if field.rules.required %}required{% endif %}
                    />
                {% elif field.type == 'editor' %}
                    <editor
                        id="{{ field.name }}"
                        v-model="form.{{ field.name }}"
                    />
                {% elif field.type == 'media' %}
                    <media-picker
                        id="{{ field.name}}_id"
                        v-model="form.{{ field.name}}_id"
                        :media="getItemAttribute('{{ field.name }}')"
                        show-preview
                    />

                    <template slot="help">
                        This image will be constrained to TODOpx width
                    </template>
                {% endif %}
            </o-form-field>

        {% endfor %}
    </div>
</template>

<script>
import templateMixin from '../../mixins/template';

export default {
    mixins: [ templateMixin ],

    data() {
        return {
            form: {
                {% for field in fields %}
                    {% if field.type != 'media' %}
                        {{ field.name }}: '',
                    {% else %}
                        {{ field.name }}_id: null,
                    {% endif %}
                {% endfor %}
            },
        };
    },

    watch: {
        item: {
            handler(item) {
                if (! item) {
                    return;
                }

                this.form = {
                    {% for field in fields %}
                        {% if field.type != 'media' %}
                            {{ field.name }}: item.{{ field.name }},
                        {% else %}
                            {{ field.name }}_id: item.{{ field.name }} ? item.{{ field.name }}.id : null,
                        {% endif %}
                    {% endfor %}
                };
            },
            immediate: true,
        },
    },
};
</script>
