<template>
    <div class="field">
        {% for field in fields %}
            <!-- {{ field.identifiers.label }} -->
            <o-form-field
                input="{{ field.identifiers.snake }}"
                label="{{ field.identifiers.label }}"
                {% if field.required %}required{% endif %}
            >
                {% if field.type == 'string' %}
                    <o-input
                        id="{{ field.identifiers.snake }}"
                        v-model="form.{{ field.identifiers.snake }}"
                        {% if field.required %}required{% endif %}
                    />
                {% elif field.type == 'text' %}
                    <editor
                        id="{{ field.identifiers.snake }}"
                        v-model="form.{{ field.identifiers.snake }}"
                    />
                {% elif field.type == 'url' %}
                    <o-input
                        id="{{ field.identifiers.snake }}"
                        v-model="form.{{ field.identifiers.snake }}"
                        type="url"
                        {% if field.required %}required{% endif %}
                    />
                {% elif field.type == 'image' %}
                    <media-picker
                        id="{{ field.identifiers.snake}}_id"
                        v-model="form.{{ field.identifiers.snake}}_id"
                        :media="getItemAttribute('{{ field.identifiers.snake }}')"
                        show-preview
                    />

                    <template slot="help">
                        This image will be constrained to TODOpx width
                    </template>
                {% endif %}
            </o-form-field>
        {% endfor %}
    </div>
</template>

<script>
import templateMixin from '../../mixins/template';

export default {
    mixins: [ templateMixin ],

    data() {
        return {
            form: {
                {% for field in fields %}
                    {% if field.type != 'image' %}
                        {{ field.identifiers.snake }}: '',
                    {% else %}
                        {{ field.identifiers.snake }}_id: null,
                    {% endif %}
                {% endfor %}
            },
        };
    },

    watch: {
        item: {
            handler(item) {
                if (! item) {
                    return;
                }

                this.form = {
                    {% for field in fields %}
                        {% if field.type != 'image' %}
                            {{ field.identifiers.snake }}: item.{{ field.identifiers.snake }},
                        {% else %}
                            {{ field.identifiers.snake }}_id: item.{{ field.identifiers.snake }} ? item.{{ field.identifiers.snake }}.id : null,
                        {% endif %}
                    {% endfor %}
                };
            },
            immediate: true,
        },
    },
};
</script>
