import client from '../../../util/api-client';

// {{ name | plural }}
export const get{{ name | plural | pascal }} = params => client.fetch('{{ name | plural | kebab }}', params);
export const get{{ name | singular | pascal }} = id => client.fetch(`{{ name | plural | kebab }}/${id}`);
export const create{{ name | singular | pascal }} = params => client.create('{{ name | plural | kebab }}', params);
export const update{{ name | singular | pascal }} = (id, params) => client.update(`{{ name | plural | kebab }}/${id}`, params);
export const delete{{ name | singular | pascal }} = id => client.destroy(`{{ name | plural | kebab }}/${id}`);

{% if has_feature('order') %}
    export const move{{ name | singular | pascal }} = (id, direction) => client.put(`{{name | plural | kebab }}/${id}/move`, { direction });
{% endif %}
