import Dashboard from '../../../components/ui/Dashboard';

import Index from '../views/Index';
import Create from '../views/Create';
import Edit from '../views/Edit';

let routes = [
    {
        path: '/{{ name | plural | kebab }}',
        component: Dashboard,
        meta: { section: '{{ name | plural | kebab }}' },

        children: [
            {
                path: '',
                name: '{{ name | plural | kebab }}.index',
                component: Index,
            },
            {
                path: 'create',
                name: '{{ name | plural | kebab }}.create',
                component: Create,
            },
            {
                path: ':id/edit',
                name: '{{ name | plural | kebab }}.edit',
                component: Edit,
            },
        ],
    },
];

export default routes;
