<template>
    <{{ name | singular | kebab }}-form />
</template>

<script>
import {{ name | singular | pascal }}Form from './partials/Form';

export default {
    components: { {{ name | singular | pascal }}Form },

    created() {
        this.setTitle('Add {{ name | singular }}');
    },
};
</script>
