<template>
    <{{ name | singular | kebab }}-form :item="{{ name | singular | camel }}" />
</template>

<script>
import { get{{ name | singular | pascal }} } from '../routes/api';
import {{ name | singular | pascal }}Form from './partials/Form';

export default {
    components: { {{ name | singular | pascal }}Form },

    data() {
        return {
            {{ name | singular | camel }}: null,
        };
    },

    created() {
        this.setTitle('Edit {{ name | singular }}');

        this.fetch{{ name | singular | pascal }}();
    },

    methods: {
        fetch{{name | singular | pascal}}() {
            this.startLoading('primary.{{ name | singular | kebab }}');

            get{{name | singular | pascal}}(this.$route.params.id).then(response => {
                this.{{ name | singular | camel }} = response.data.data;

                this.stopLoading('primary.{{ name | singular | kebab }}');
            }).catch(() => {
                this.$router.push({
                    name: '{{ name | plural | kebab }}.index',
                });
            });
        },
    },
};
</script>
