<template>
    <o-loader :loading="isLoading('primary.*')">
        <form @submit.prevent="submit">
            <o-errors v-if="anyErrors" :errors="errors" />

            <div class="p-8 border-b border-grey-400">
                <div class="max-w-3xl">
                    <o-tabs>
                        <o-tab name="Content">
                            {% for field in fields %}
                                <!-- {{ field.name | plural }} -->
                                <o-form-field
                                    input="{{ field.name }}"
                                    label="{{ field.label }}"
                                    {%+ if field.required %}required{% endif -%}
                                >
                                    {% if field.type == 'text' %}
                                        <o-input
                                            id="{{ field.name }}"
                                            v-model="form.{{ field.name }}"
                                            {%+ if field.required %}required{% endif -%}
                                        />
                                    {% endif %}

                                    {% if field.type == 'editor' %}
                                        <editor
                                            id="{{ field.name }}"
                                            v-model="form.{{ field.name }}"
                                        />
                                    {% endif %}

                                    {% if field.type == 'date' %}
                                        <div class="field addons">
                                            <div class="control">
                                                <div class="button static">
                                                    <icon icon="calendar-alt" />
                                                </div>
                                            </div>

                                            <div class="control">
                                                <o-input
                                                    id="{{ field.name }}"
                                                    v-model="form.{{ field.name }}"
                                                    type="datetime-local"
                                                    {%+ if field.required %}required{% endif %}
                                                />
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if field.type == 'image' %}
                                        <media-picker
                                            id="{{ field.name }}_id"
                                            v-model="form.{{ field.name }}_id"
                                            :media="getItemAttribute('{{ field.name }}')"
                                            show-preview
                                            accepted-extensions="image"
                                        />

                                        <template slot="help">
                                            This image will be resized to TODOpx.
                                        </template>
                                    {% endif %}
                                </o-form-field>
                            {% endfor %}
                        </o-tab>

                        <o-tab name="Meta">
                            {% if has_feature('slug') %}
                                <!-- Slug -->
                                <o-form-field
                                    input="slug"
                                    label="Slug"
                                >
                                    <o-input
                                        id="slug"
                                        v-model="form.slug"
                                        :disabled="getItemAttribute('has_fixed_path', false)"
                                    />
                                </o-form-field>
                            {% endif %}

                            {% if has_feature('seo') %}
                                <o-meta-fields
                                    v-model="form.meta"
                                    :item="getItemAttribute('meta')"
                                />
                            {% endif %}
                        </o-tab>
                    </o-tabs>  
                </div>
            </div>

            <div class="p-8">
                <div class="field flex items-center">
                    <div class="control">
                        <button
                            class="button green"
                            :class="{ 'loading': isProcessing }"
                            :disabled="isProcessing"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </o-loader>
</template>

<script>
import { formMixin } from '@optimuscms/theme';

import {
    create{{ name | singular | pascal }},
    update{{ name | singular | pascal }},
} from '../../routes/api';

import moment from 'moment';

export default {
    mixins: [ formMixin ],

    data() {
        return {
            form: {
                {% if has_feature('slug') %}
                    slug: '',
                {% endif %}

                {% for field in fields %}
                    {% if in_array(field.type, ['string', 'textarea', 'editor']) %}
                        {{ field.name }}: '',
                    {% elif field.type == 'date' %}
                        {{ field.name }}: moment().format('YYYY-MM-DDTHH:mm'),
                    {% elif field.type == 'boolean' %}
                        {{ field.name }}: False
                    {% elif field.type == 'image' %}
                        {{ field.name }}_id: null,
                    {% endif %}
                {% endfor %}
            },
        };
    },

    watch: {
        item(item) {
            {% if has_feature('seo') %}
                const meta = item.meta;
            {% endif %}

            this.form = {
                {% if has_feature('slug') %}
                    slug: item.slug,
                {% endif %}
                
                {% for field in fields %}
                    {% if in_array(field.type, ['string', 'textarea', 'editor']) %}
                        {{ field.name }}: item.{{ field.name }},
                    {% elif field.type == 'date' %}
                        {{ field.name }}: moment(item.{{ field.name }}).format('YYYY-MM-DDTHH:mm'),
                    {% elif field.type == 'image' %}
                        {{ field.name }}_id: item.{{ field.name }} ? item.{{ field.name }}.id : null,
                    {% endif %}
                {% endfor %}

                {% if has_feature('seo') %}
                    meta: {
                        title: meta.title,
                        description: meta.description,
                        og_title: meta.og_title,
                        og_description: meta.og_description,
                        og_image_id: meta.og_image ? meta.og_image.id : null,
                        additional_tags: meta.additional_tags,
                    },
                {% endif %}
            };
        },
    },

    methods: {
        save() {
            if (this.isEditing) {
                return update{{ name | singular | pascal }}(this.item.id, this.form);
            }

            return create{{ name | singular | pascal }}(this.form);
        },

        onSuccess() {
            this.$router.push({
                name: '{{ name | plural | kebab }}.index',
            });
        },
    },
};
</script>
