<template>
    <o-loader :loading="isLoading('primary.*')">
        <section v-if="{{ name | plural | camel }}.length === 0" class="p-8">
            <o-notification class="rounded">
                You haven't added any {{ name | plural | lower }} yet,

                <router-link
                    :to="{ name: '{{ name | plural | kebab }}.create' }"
                    class="underline"
                >
                    click here to add one
                </router-link>.
            </o-notification>
        </section>

        <table v-else class="table">
            <thead>
                <tr>
                    {% if has_feature('order') %}
                        <th class="narrow" />
                    {% endif %}

                    {% for field in fields %}
                        {% if field.show_on_admin_index %}
                            <th>
                                {{ label }}
                            </th>
                        {% endif %}
                    {% endfor %}

                    <th class="narrow">
                        Actions
                    </th>
                </tr>
            </thead>

            <transition-group name="flip-list" tag="tbody">
                <tr
                    v-for="{{ name | singular | camel }} in {{ name | plural | camel }}"
                    :key="{{ name | singular | camel }}.id"
                    {% if has_feature('draftable') %}
                        :class="{ 'draft': ! {{ name | singular | camel }}.is_published }"
                    {% endif %}
                >
                    {% if has_feature('order') %}
                        <td class="actions">
                            <a
                                class="icon"
                                :class="{
                                    'pointer-events-none opacity-50': ! canMoveItemUp({{ name | plural | camel }}, {{ name | singular | camel }}.id)
                                }"
                                @click="moveItemUp({{ name | plural | camel }}, {{ name | singular | camel }}.id)"
                            >
                                <icon icon="angle-up" />
                            </a>

                            <a
                                class="icon"
                                :class="{
                                    'pointer-events-none opacity-50': ! canMoveItemDown({{ name | plural | camel }}, {{ name | singular | camel }}.id)
                                }"
                                @click="moveItemDown({{ name | plural | camel }}, {{ name | singular | camel }}.id)"
                            >
                                <icon icon="angle-down" />
                            </a>
                        </td>
                    {% endif %}

                    {% for field in fields %}
                        {% if field.show_on_admin_index %}
                            <td>
                                {{ '{{ ' + name | singular | camel + '.' + field.name + ' }}' }}
                            </td>
                        {% endif %}
                    {% endfor %}

                    <td class="actions">
                        <router-link
                            :to="{
                                name: '{{ name | plural | kebab }}.edit',
                                params: { id: {{ name | singular | camel }}.id },
                            }"
                            class="icon medium"
                        >
                            <icon icon="pencil-alt" />
                        </router-link>

                        <a
                            class="icon medium"
                            @click="openConfirmation({{ name | singular | camel }})"
                        >
                            <icon icon="trash-alt" />
                        </a>
                    </td>
                </tr>
            </transition-group>
        </table>

        <o-confirmation
            v-slot="{ item: {{ name | singular | camel }} }"
            button-class="red"
            button-text="Delete"
            @confirm="delete{{ name | singular | pascal }}"
        >
            Are you sure you want to delete this {{ name | singular | lower }}?
        </o-confirmation>
    </o-loader>
</template>

<script>
import { orderMixin } from '@optimuscms/theme';

import {
    get{{ name | plural | pascal }},
    delete{{ name | singular | pascal }},
    {% if has_feature('order') %}move{{ name | singular | pascal }}{% endif %}
} from '../routes/api';

export default {
    mixins: [ orderMixin ],

    data() {
        return {
            {{ name | plural | camel }}: [],
        };
    },

    created() {
        this.setTitle('Manage {{ name | plural }}');

        this.fetch{{ name | plural | pascal }}();
    },

    methods: {
        fetch{{ name | plural | pascal }}() {
            this.startLoading('primary.{{ name | plural | kebab }}');

            get{{ name | plural | pascal }}().then(response => {
                this.{{ name | plural | camel }} = response.data.data;

                this.stopLoading('primary.{{ name | plural | kebab }}');
            });
        },

        {% if has_feature('order') %}
            move(id, from, to) {
                move{{ name | singular | pascal }}(id, this.getMoveDirection(from, to));

                this.{{ name | plural | camel }} = this.moveItem(this.{{ name | plural | camel }}, from, to);
            },
        {% endif %}

        delete{{ name | singular | pascal }}({{ name | singular | camel }}) {
            delete{{ name | singular | pascal }}({{ name | singular | camel }}.id);

            this.{{ name | plural | camel }} = this.{{ name | plural | camel }}.filter(({ id }) => {
                return id !== {{ name | singular | camel }}.id;
            });
        },
    },
};
</script>
